node_modules/*
.wrangler
.env
*.bak
tokenflare.cfg
certs/*.pem
certs/*.key

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/
.mypy_cache/
.pytest_cache/
venv/

# npm artifacts
package.json
package-lock.json
